<!DOCTYPE html>
<html lang="es-es">
<head>
<meta charset="utf-8"/>
<title>Show me the money!</title>

<meta
  name="viewport"
  content="width=device-width, height=device-height, initial-scale=1.0, viewport-fit=cover"
/>

<style>
  [v-cloak] {
    display: none !important
  }
  /* Hide Vue while loading */
</style>
<link rel="stylesheet" href="/dist/style.css"/>
</head>
<body>
<div id="app-container">
  <div class="container">
    <aside class="sidebar">
      <my-investments
        :vp-savings="vdUserSavings"
        :vp-investments="vdUserInvestments"
      >
      </my-investments>
      <other-investments
        :vp-items="vdAvailableInvestments"
      >
      </other-investments>
    </aside>
    <main class="main">
      <total
        :vp-portfolio="vdUserInvestments"
      >
      </total>
    </main>
  </div>
</div>
<script src="/dist/script.js"></script>

<!-- These scripts might be added to the bundle for production -->
<script src="https://d3js.org/d3.v4.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
</body>
</html>
